<div>
<h1>Welcome, <%= @user.username %></h1>
<% @goals.each do |goal| %>
    <p>Name of your Goal: <%= goal.goal_name %></p>
    <p>Description of your Goal: <%= goal.description%></p>
    <p>Has this goal been achieved yet? <%= goal.achieved?%></p>
    <% end %>
    <a href="/logout">Log out</a>.
    <a href="/goals/new">Create a Goal</a>
</div>