<h1>Create a new goal for yourself!</h1>
<form method="POST" action="/goals">
<label for="goal_name">Name of your Goal:</label>
<input type="text" name="goal_name" id="goal_name"> 
<label for="description">Description of your Goal:</label>
<input type="text" name="description" id="description"> 
<label for="achieved?">Have you achieved this goal yet?</label>
<select name="achieved?">
  <option value="no">NO</option>
  <option value="yes">YES</option>
</select> 
<input type="submit" id="submit" value="Create Goal">
</form>