<h1>Create a new goal for yourself!</h1>
<form method="POST" action="/goals">
<label for="goal_name">Name of your Goal:</label><br />
<input type="text" name="goal_name" id="goal_name"><br /> 
<label for="description">Description of your Goal:</label><br />
<input type="text" name="description" id="description"><br />
<label for="achieved?">Have you achieved this goal yet?</label><br />
<select name="achieved"><br />
  <option value="no">NO</option>
  <option value="yes">YES</option>
</select> <br />
<input type="submit" id="submit" value="Create Goal"><br />
</form>