<h1>Welcome, <%= @user.username %></h1>
<% @user_goals.each do |goal| %>
    <p>Goal name:<%= goal.goal_name %></p>
    <p>Goal description:<%= goal.description %></p>
    <p>Has this been achieved yet?<%= goal.achieved? %></p>
<% end %>
  <a href="/logout">Log out</a>.
  <a href="/goals/new">Create a Goal</a>

