<h2>Sign Up for a new account!</h2>
<form method="POST" action="/signup">
<label for="username"><b>Username:</b></label>
<input type="text" name="username" id="username" required><br><br>
<label for="email"><b>Email:</b></label>
<input type="text" name="email" id="email" required><br><br>
<label for="password"><b>Password:</b></label>
<input type="password" name="password" id="password" required><br><br>
<input type="submit" id="submit" value="Sign Up">
</form>
<br>

<div class="sign_up_instructions">
<p>Usernames must be between 2 and 20 characters.</p>
<p>Emails must meet the requirements of a valid email address (i.e. including an @ sign).</p>
<p>Passwords must be between 6 and 15 characters.</p>
</div>