<div class="container">
  <header>
    <div class="sidebar">
      <ul>
        <% if !logged_in? %>
        <li><b><a href='/login'>Log In</a></b></li>
        <li><b><a href='/signup'>Sign Up</a></b></li>
        <% else %>
        <li><b><a href='/logout'>Log Out</a></b></li>
        <li><b><a href='/users/:id'>See your Goal List!</a></b></li>
        <% end %>
      </ul>
    </div>
    </header>
  <div class="col-md-8 col-md-offset-2">
    <h2>My Goals</h2>

    <div class="description">
      <p>Have you ever struggled sticking to goals you set for yourself? My goals provides you a platform to record all of your personal goals you wish to achieve! Use this as a motivational tool to challenge yourself and improve.</p>
    </div>

    

  </div>
</div>
