<div class="container">
  <header>
  </header>
  <div class="col-md-8 col-md-offset-2">
    <h2>What is MyGoals?</h2>

    <div class="description">
      <p>Have you ever struggled sticking to goals you set for yourself? MyGoals provides you a platform to record all of your personal goals you wish to achieve! You can also browse the goals set by other users on MyGoals, and use them as inspiration to set more goals for yourself. Use this as a motivational tool to challenge yourself and improve.</p>
    </div>
      <div class="instruction">
      <p>Use the navigation bar above to create an account, or Log In to an existing account! </p>
    </div>
    
    <img src="images/goals.jpg" alt="Goal Image" style="width:128px;height:128px;">
    
    <h2>Why Set Goals For Yourself?</h2>
    
    <p>The practice of writing goals down allows for people to visualize goals, and motivate themselves to achieve them. Research has uncovered many key aspects of goal setting theory and its link to success (Kleingeld, et al, 2011). Setting goals is linked with self-confidence, motivation, and autonomy (Locke & Lathan, 2006). A 2015 study by psychologist Gail Matthews showed when people wrote down their goals, they were 33 percent more successful in achieving them than those who formulated outcomes in their heads.</p>
    
    <h2>Our Most Recent Accomplished Goals!</h2>
    
    <p><%= @achieved_goals %></p>
    

    

  </div>
</div>
