<div class="container">
  <header>
  </header>
  <div class="col-md-8 col-md-offset-2">
    <h2>My Goals</h2>

    <div class="description">
      <p>Have you ever struggled sticking to goals you set for yourself? My goals provides you a platform to record all of your personal goals you wish to achieve! Use this as a motivational tool to challenge yourself and improve.</p>
    </div>
      <div class="instruction">
      <p>Use the navigation bar above to create an account, or Log In to an existing account! </p>
    </div>
    

    

  </div>
</div>
