<div class="container">
  <header>
  </header>
  <div class="col-md-8 col-md-offset-2">
    <h2>What is MyGoals?</h2>

    <div class="description">
      <p>Have you ever struggled sticking to goals you set for yourself? MyGoals provides you a platform to record all of your personal goals you wish to achieve! You can also browse the goals set by other users on MyGoals, and use them as inspiration to set more goals for yourself. Use this as a motivational tool to challenge yourself and improve.</p>
    </div>
      <div class="instruction">
      <p>Use the navigation bar above to <b>create an account</b>, or <b>Log In</b> to an existing account! </p><br>
    </div>
    
    <img src="images/goals.jpg" alt="Goal Image" ALIGN="right" WIDTH="200px" HEIGHT="150px">
    
    <h2>Why Set Goals For Yourself?</h2>
    
    <p>The practice of writing goals down allows for people to visualize goals, and motivate themselves to achieve them. Research has uncovered many key aspects of goal setting theory and its link to success (Kleingeld, et al, 2011). Setting goals is linked with self-confidence, motivation, and autonomy (Locke & Lathan, 2006). A 2015 study by psychologist Gail Matthews showed when people wrote down their goals, they were 33 percent more successful in achieving them than those who formulated outcomes in their heads.</p>
    
    <h2>Some Suggestions For Creating Goals</h2>
    
    <p>One of the most difficult steps in completing a goal suprisingly can be deciding what goals to set for yourself. Goals should be difficult enough to challenge yourself and drive yourself to improve, but not so diffcult that they are impossible to achieve. Think about something you want to accomplish, and decide on a reasonable goal to motivate yourself to surpass the obstacles in order to get there. </p>
    
    <img src="images/success_mountain.jpg" alt="Success on Mountain Image" ALIGN="right" WIDTH="200px" HEIGHT="150px">
    
    <h2>Newest Accomplished Goal</h2>
    
    <p><b><%= @recently_achieved.user.username %></b> has recently completed the goal <b><%= @recently_achieved.goal_name %></b>!</p>
    <p>This goal's description was to <b><%= @recently_achieved.description %></b></p>
    <p>Amazing job! Don't stop here though, use this success to push yourself forward to even further improve with new and more challenging goals!</p>
    

    

  </div>
</div>
