<div class="container">
  <header>
    <div class="sidebar">
      <ul>
        <li><b><a href='/login'>Log In</a></b></li>
        <li><b><a href='signup'>Sign Up</a></b></li>
      </ul>
    </div>
    </header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Restaraunt Tracker</h2>

    <div class="description">
      <p>Have you ever struggled deciding where to go out to eat? Restaraunt Tracker allows you to record all of your personal restaraunt experiences, and see how others' restaraunt experiences went! This can save you from having a special day go sour from a bad eating experience or just making the difficulty of determining what you are craving that night much easier.</p>
    </div>

    

  </div>
</div>
